name: Release Charts

on:
  push:
    branches:
      - main

jobs:
  release:
    permissions:
      contents: write
    runs-on: self-hosted
    steps:
      - name: Clean workspace
        run: |
          rm -Rf *

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Generate Helm README Documentation with jnorwood
        run: |
          sudo docker run --rm --volume "$(pwd):/helm-docs" -u $(id -u) jnorwood/helm-docs:latest

      - name: Remove README.md template files
        run: |
          find . -name "README.md.gotmpl" | xargs rm

      - name: Install Helm
        run: |
          curl -fsSL -o get_helm.sh https://raw.githubusercontent.com/helm/helm/main/scripts/get-helm-3
          sh ./get_helm.sh
          rm ./get_helm.sh

      - name: Generate Helm repo files
        run: |
          helm package -u common/helm
          #helm package -u apigateway/helm
          helm package -u developerportal/helm
          helm package -u microservicesruntime/helm
          helm package -u mywebmethodsserver/helm
          helm package -u universalmessaging/helm

      - name: Push Helm Charts to this GitHub repo branch 'gh-pages' 
        run: |
          git config --global user.name  "${{ github.event.head_commit.committer.username  }}"
          git config --global user.email "${{ github.event.head_commit.committer.email }}"
          git clone git@github.com:SoftwareAG/webmethods-helm-charts.git -b gh-pages
          cp    *.md                          webmethods-helm-charts/
          mkdir -p                            webmethods-helm-charts/charts
          cp    *.tgz                         webmethods-helm-charts/charts
          cd                                  webmethods-helm-charts/charts
          helm repo index . --url https://open-source.softwareag.com/webmethods-helm-charts/charts
          git add .
          git commit -am "${{ github.event.head_commit.message }}"
          git branch -M      gh-pages
          git push -f origin gh-pages
